%section#news
  %h1.section_header
    = link_to "News", news_path
    - if can? :create, @post
      .admin_link_inline= link_to '+', new_post_path
  #blocks
    - @posts.where(:topnews => true).order_by([:date_published, :desc]).take(3).each_with_index do |post, i|
      .news_block{ :class => "block-" + i.to_s }
        .date
          = date2dmy(post.date_published)
          -if post.user
            von
            =post.user.name
        %h1.block_header= link_to post.title, post_url(post.id)
        =link_to (image_tag post.image(:thumb).to_s), post_url(post.id)
        = simple_format(preview(post.body))
        = link_to 'mehr', post_url(post.id)
  #headlines
    - @posts.where(:topnews => false).order_by([:date_published, :desc]).take(6).each do |post|
      .headline
        %ul
          %li.block_header
            %span.date= date2dmy(post.date_published)
            = link_to post.title, post_url(post.id)
            -if post.user
              %span.name
                von
                =post.user.name
      
      