#sidebar
	= link_to (image_tag 'sponsors/Ratio_220.png'), "http://ratiobikedesign.com/"
	= link_to (image_tag 'sponsors/Lightweight_220.png'), "http://www.lightweight.info/"
	= link_to (image_tag 'sponsors/rudyproject.png'), "http://www.rudyproject.com/"
	= link_to (image_tag 'sponsors/innotech.gif'), "http://www.innotech-r.de/"
	= link_to (image_tag 'sponsors/prologo_220.png'), "http://www.prologotouch.com/"
	= link_to (image_tag 'sponsors/compression-x_220.png'), "http://www.compression-x.de"
	= link_to (image_tag 'sponsors/schwalbethumb.jpg'), "http://www.schwalbe.de/"
	= link_to (image_tag 'sponsors/berner220.png'), "http://www.berner-bikes.com"