= link_to (image_tag 'sponsors/Ratio_220.png'), coming_path
= link_to (image_tag 'sponsors/Lightweight_220.png'), coming_path
= link_to (image_tag 'sponsors/rudyproject.png'), coming_path
= link_to (image_tag 'sponsors/innotech.gif'), coming_path
= link_to (image_tag 'sponsors/prologo_220.png'), coming_path
= link_to (image_tag 'sponsors/compression-x_220.png'), "http://www.compression-x.com"
= link_to (image_tag 'sponsors/schwalbethumb.jpg'), coming_path
= link_to (image_tag 'sponsors/berner220.png'), "http://www.berner-bikes.com"