= link_to (image_tag 'sponsors/VITTORIA_220.png'), coming_path
= link_to (image_tag 'sponsors/3T_220.png'), coming_path
= link_to (image_tag 'sponsors/alpina.png'), coming_path
= link_to (image_tag 'sponsors/Ratio_220.png'), coming_path
= link_to (image_tag 'sponsors/fsa_220.png'), coming_path
= link_to (image_tag 'sponsors/rudyproject.png'), coming_path
= link_to (image_tag 'sponsors/Lightweight_220.png'), coming_path
= link_to (image_tag 'sponsors/prologo_220.png'), coming_path
= link_to (image_tag 'sponsors/royalbw.gif'), coming_path
= link_to (image_tag 'sponsors/schwalbethumb.jpg'), coming_path
= link_to (image_tag 'sponsors/SRAM_220.jpg'), coming_path
= link_to (image_tag 'sponsors/innotech.gif'), coming_path