%section#admin
  %h1.page_header Admin
  %article
    %ul
      %li= link_to 'Nachricht erstellen', new_post_path
      %li= link_to 'Nachrichten auflisten/bearbeiten', posts_path
      %li= link_to 'Fahrer hinzufügen', new_rider_path
      %li= link_to 'Fahrer auflisten/bearbeiten', riders_path
      %li= link_to 'Neuer Benutzer', register_path



