%section#news
  %h1.page_header News-Übersicht
  %article
    %table
      %tr
        %th Überschrift
        %th Datum
        %th Update
        %th Bild
        %th 
          Slideshow/
          %br
          Topnews
        %th
        %th
        %th

      - @posts.each do |post|
        %tr
          %td= post.title
          %td= date2dmy(post.created_at)
          %td= date2dmy(post.updated_at)
          %td= image_tag post.image(:thumb).to_s
          %td
            - if (post.slideshow == true)
              Slide
              %br 
            - if (post.topnews == true)
              Topnews  
          %td= link_to (image_tag ('show.png')), post
          %td= link_to (image_tag ('edit.png')), edit_post_path(post)
          %td= link_to (image_tag ('delete.png')), post, confirm: 'Sind Sie sicher?', method: :delete

    %br

    = link_to 'Nachricht erstellen', new_post_path
