%p#notice= notice 
%section#news
  %article.news_item
    %h1.article_header= @post.title 
    =image_tag @post.image(:medium).to_s 
    %p= simple_format(@post.body)
     
    = link_to 'zurück', news_path
#news_row
  = render 'partials/postblocks'