%p#notice= notice 
%section#news
  %article.news_item
    %h1.article_header= @post.title
    .namedate 
      - if ( @post.user && @post.date_published )
        von
        = @post.user.name
        am
        = date2dmy(@post.date_published)
    -if (@post.second_image.exists?)
      .first_image
        = image_tag @post.second_image(:medium).to_s
        %br
        = @post.second_image_tag
    -else
      - if (@post.image.exists?)
        .first_image
          = image_tag @post.image(:medium).to_s
          %br
          = @post.first_image_tag
   
           
    %p
      = simple_format(@post.body)
      - if (@post.image.exists? && slideshow)
        .second_image
          = image_tag @post.image(:slide).to_s
          = @post.first_image_tag
    .post_bottom
      .backlink= link_to 'zurück zur News-Seite >>', news_path
      .fb-like{:href => "team.berner-bikes.com", :send => "true", :layout => "button_count", :width => "200", :show_faces => "true", :colorscheme => "dark"}

#news_row
  = render 'partials/postblocks'