%section#fahrer
  %h1.page_header Fahrer-Übersicht
  %article
    %table
      %tr
        %th Name
        %th Klasse
        %th Beschreibung
        %th Bild
        %th
        %th
        %th

      - @riders.each do |rider|
        %tr
          %td= rider.name
          %td= rider.klasse
          %td= preview(rider.description, 90)
          %td= image_tag rider.image(:thumb).to_s
          %td= link_to (image_tag ('show.png')), rider
          %td= link_to (image_tag ('edit.png')), edit_rider_path(rider)
          %td= link_to (image_tag ('delete.png')), rider, confirm: 'Sind Sie sicher?', method: :delete

    %br

    = link_to 'Neuer Fahrer', new_rider_path
