#fahrer
  %h1.page_header 
    Team
    - if can? :create, @rider
      .admin_link_inline= link_to '+', new_rider_path
  %section.team
    %h1.team_header= ELITE_TEAM
    - @riders.where( :team => ELITE_TEAM ).order_by([:order, :asc]).each do |rider|
      = render 'fahrer', :rider => rider
  %section.team
    %h1.team_header= WOMEN_TEAM
    - @riders.where( :team => WOMEN_TEAM ).order_by([:order, :asc]).each do |rider|
      = render 'fahrer', :rider => rider
  %section.team
    %h1.team_header= MASTERS_TEAM
    - @riders.where( :team => MASTERS_TEAM ).order_by([:order, :asc]).each do |rider|
      = render 'fahrer', :rider => rider
