%p#notice= notice 
%section#fahrer
  %h1.section_header= @rider.name 
  %article.fahrer
    .rider_image
      =image_tag @rider.image(:medium).to_s
    .rider_content
      %ul
        %li
          Klasse: 
          %em= @rider.klasse
        %li
          Verein:
          %em= @rider.verein
        %li
          Geburtstag:
          %em= @rider.geburtstag
        %li
          Erfolge:
          %em= simple_format(@rider.description)
     
    = link_to 'zurück', team_path
