%section#fahrer_display
  %h1.page_header
    = rider_name(@rider)
    = render 'admin_buttons', :rider => @rider
  %article.fahrer
    .rider_image
      =image_tag @rider.image(:medium).to_s
    .rider_content
      %ul
        %li
          Klasse: 
          %em= @rider.klasse
        %li
          Verein:
          %em= @rider.verein
        %li
          Geburtstag
          %em= date2dmy(@rider.geburtstag)
        %li
          Team:
          %em= @rider.team
        %li
          Erfolge:
          %em= simple_format(@rider.description)