%section#galleries
  %h1.page_header 
    Bilder
    - if can? :create, @gallery
      .admin_link_inline= link_to '+', new_gallery_path

  %table
    %tr
      %th Bild
      %th Beschreibung
      %th
      %th
      %th

    - @galleries.each do |gallery|
      %tr
        %td
          =image_tag gallery.image(:thumb).to_s
        %td= gallery.description
        %td= link_to 'Show', gallery
        %td= link_to 'Edit', edit_gallery_path(gallery)
        %td= link_to 'Destroy', gallery, :confirm => 'Are you sure?', :method => :delete