!!!
%html
%head
  %title= title
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
  = render 'partials/facebook_og_meta_tags'
%body
  = auto_discovery_link_tag :atom, feed_path
  = render 'partials/facebook'
  = render 'partials/admin'
  #wrap
    #header
      = render 'partials/menu'
    #left
      #content
        = yield
    #right
      #sidebar= render 'partials/sidebar'
    #footer= render 'partials/footer'
    #sparks
      %em 
        this site is a
        = link_to '27sparks', "http://nordmeyer.name"
        creation